@using Microsoft.AspNetCore.Identity
@inject SignInManager<Snips.Data.ApplicationUser> SignInManager
@inject UserManager<Snips.Data.ApplicationUser> UserManager

<ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" target="_blank" href="https://www.linkedin.com/in/avaneesa/">Linkedin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" target="_blank" href="https://github.com/redghoul">Github</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" target="_blank" href="https://www.avaneesa.com/">Portfolio</a>
        </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Blogs" asp-action="Index">Blogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }

</ul>
