@model List<Snips.Models.NoteDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var note in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@note.Name</h5>
                <p class="card-text">
                    @if (note.Content != null)
                    {
                        @note.Content.Substring(0, 20)
                    }
                </p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
    }
</div>